<form action="{{ action }}" method="post">
  <input type="hidden" name="operation_xml" value="{{ xml }}">
  <input type="hidden" name="signature" value="{{ signature }}">
  <div class="buttons">
      <input type="submit" value="{{ button_confirm }}" class="button button-primary br-7" />
  </div>
</form>
