/* hand_links_fv */
.blok_hand_links_fv {
    margin: 40px 0 10px 0;
}
.title_blok_hand_links_fv {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}
.blok_hand_links_fv:not(.hand_link_fv_img) a {
	/*color: inherit;*/
	display: inline-block;
	border: 1px solid #EEE;
	padding: 5px;
	border-radius: 4px;
	margin-right: 5px;
    margin-bottom: 5px;
    background-color: #FFF;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
	text-decoration: none;
}
.blok_hand_links_fv:not(.hand_link_fv_img) a:hover {
    background-color: rgba(0, 0, 0, 0.05);
    color: inherit;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.4);
}
.blok_hand_links_fv:not(.hand_link_fv_img) .action_hl_fv {
    background-color: rgba(0, 0, 0, 0.05);
    color: inherit;
}
.blok_hand_links_fv.hand_link_fv_img .action_hl_fv {
    color: inherit;
}
.blok_hand_links_fv a span {
    vertical-align: middle;
    display: inline-block;
}
/*scroll*/
/*.scroll_hl {white-space: nowrap; overflow: scroll; overflow-x: auto; overflow-y: hidden; padding-bottom: 5px;}114 overflow: scroll; */
/*.scroll_hl {max-height: 130px; overflow-x: hidden; overflow-y: auto;}*/
.scroll_hl {scrollbar-width: thin; scrollbar-color: #cdcdcd #eee;}
.scroll_hl::-webkit-scrollbar{height: 6px;}
.scroll_hl::-webkit-scrollbar-thumb{background-color: #cdcdcd;}
.scroll_hl::-webkit-scrollbar-thumb:hover{background-color: #aaa;}
.scroll_hl::-webkit-scrollbar-thumb:active{background-color: #999;}
.scroll_hl::-webkit-scrollbar-track{border-width:0;background-color: #eee;}

@media(max-width:767px) {
    .hl_top.group_animal .title_blok_hand_links_fv {
        cursor: pointer;
        display: inline-block;
    }
    .hl_top.group_animal .blok_hl {
        max-height: 150px; overflow-x: hidden; overflow-y: auto;
    }
    /*.mobil_hl*/
    .hl_top.group_animal .title_blok_hand_links_fv:after {
        position: relative;
        vertical-align: middle;
        padding-left: 5px;
        font-size: 20px;
        font-weight: 300;
    }
    .hl_top.group_animal .title_blok_hand_links_fv:not(.block_actin):after {
        content: '+';
        bottom: 1px;
    }
    .hl_top.group_animal .title_blok_hand_links_fv.block_actin:after {
        content: '–';
        bottom: 3px;
    }
}
/*group*/
/*.block_hl_group .blok_hand_links_fv_a:not(.row) {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.10);
    border: 1px solid #f5f9fc;
    padding: 5px 3px 0;
    border-radius: 4px;
}*/
.block_hl_group {
    margin-bottom: 5px;
}
.name_group_hl {
    font-size: 16px;
    margin-bottom: 5px;
}
.group_animal .group_animal .name_group_hl {
    cursor: pointer;
    /*font-weight: 300;*/
    display: inline-block;
}
.group_animal .group_animal .name_group_hl .icon_group {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
    font-size: 20px;
}
.group_animal .group_animal .name_group_hl .icon_group:after {
    position: relative;
}
.group_animal .group_animal:not(.block_actin) .name_group_hl .icon_group:after {
    content: '+';
}
.group_animal .group_animal.block_actin .name_group_hl .icon_group:after {
    content: '–';/*—*/
    bottom: 2px;
}
.group_animal .block_hl_group.group_animal .blok_hand_links_fv_a:not(.block_actin) {
    display: none;
}
/*image*/
.blok_hand_links_fv .image_thumb {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 5px;
}
.blok_hand_links_fv .image_thumb .image {
    float: none;
}
.text_h {
    height: 40px;
    text-align: center;
    padding-top: 5px;
}
/*test*/
/*
.name_group_hl:before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    position: relative;
    margin-right: 5px;
    border: none;
    border-radius: 10px;
    background-color: #ccc;
}
.group_id_33 .name_group_hl:before {
    background-color: #0f0;
}
.group_id_34 .name_group_hl:before {
    background-color: #00f;
}
*/
/* end hand_links_fv */
