# Configuration files
/config.php
/admin/config.php

google27883d92577e2a14.html
.well-known

# Image cache
/image/cache/
/image/catalog/tmp/
/image/catalog/


# Storage cache
/storage/cache/*
!/storage/cache/index.html

/storage/cache_fv/*
!/storage/cache_fv/index.html

# Storage logs
/storage/logs/*
!/storage/logs/index.html

# Storage sessions
/storage/session/*
!/storage/session/index.html

# Storage upload
/storage/upload/*
!/storage/upload/index.html

# Storage download
/storage/download/*
!/storage/download/index.html

# Admin Uploads
/admin/uploads/*
!/admin/uploads/index.html

# Logs and OS files
*.log
.DS_Store
Thumbs.db

# IDE settings
.idea/
.vscode/

# Sensitive data
test.txt
