# Configuration files
/config.php
/admin/config.php

google27883d92577e2a14.html
.well-known

# Image cache
/image/cache/
/image/catalog/tmp/
/image/catalog/


# Storage cache
/storage/cache/*
!/storage/cache/index.html

# Storage logs
/storage/logs/*
!/storage/logs/index.html

# OpenCart System Storage
/system/storage/session/*
/system/storage/upload/*
/system/storage/download/*
/system/storage/modification/*
/system/storage/vendor/

# Keep directory structure
!/system/storage/cache/index.html
!/system/storage/logs/index.html
!/system/storage/session/index.html
!/system/storage/upload/index.html
!/system/storage/download/index.html
!/system/storage/modification/index.html

# Composer
/vendor/
composer.lock

# Logs and OS files
*.log
.DS_Store
Thumbs.db

# IDE settings
.idea/
.vscode/

# Sensitive data
test.txt
