/*skin_slider1*/
.irs-bar{background: #000000;  height: 3px;  top: 33px; }
.irs-line{background: #e8e8e8;  height: 3px;  top: 33px; }
.irs-handle,.irs-slider{background: #000000;  border-color: #ffffff;  border-width: 5px; border-style: solid;  border-radius: 10px;  width: 18px;  height: 18px;  top: 26px; }
.irs-single,.irs-from,.irs-to{background: #000000;  color: #ffffff;  border-radius: 3px; }
.irs-grid-pol{background: #666666; }
.irs-grid-text{color: #666666; }
/*end skin_slider1*/