.curs_point {
    cursor: pointer;
}
.uprav {
    width: 1%;
}
.imt_textarea {
    background-color: #F9F9F9;
    padding: 3px;
    border: 1px solid #CCC;
    overflow-x: hidden;
    overflow-y: auto;
    word-break: break-all;
    word-wrap: break-word;
    width: 100%;
    height: 110px;
}
/*pozishin*/
.text_left {
    text-align: left;
}
.text_right {
    text-align: right;
}
.text_center {
    text-align: center;
}
#block_filter {
    padding: 0 15px;
    background: #f0f8ff;
}
#blok_gather {
    width: 16%;
}
#blok_add_new_gather {
    display: inline-block;
    margin: 0 5px;
}

#block_filter .dropdown-menu, .ui-autocomplete {
    max-height: 260px;
    max-width: inherit;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
#block_filter .dropdown-menu > li > a {
    /*white-space: break-spaces;*/
    white-space: inherit;
    
}
#del_value_all {
    font-size: 100%;
}
#del_value_all:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.clear_pole, .clear_pole_main {
  background-color: #e1e1e1;
}
.clear_pole i, .clear_pole_main i {
  color: #ec6464;
}
#block_filter button:not(:last-child) {
    margin-right: 5px;
}
/*#block_filter */
.count_prod {
    margin-left: 5px;
}
/**/
#attribute_text table td {
    position: relative;
}
#attribute_text .main_row ul, #choose_gather ul {
    max-width: inherit;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}
#attribute_text .main_row:not(:last-child) ul, #choose_gather ul {
    max-height: 260px;
}
#attribute_text .main_row:last-child ul {
    max-height: 125px;
}

#attribute_text .attrb {
    width: 50%;
}
.add_value {
    margin-bottom: 2px;
    cursor: pointer;
}
.name_group {
    padding: 3px 5px;
    display: inline-block;
    margin-bottom: 3px;
    opacity: 0.7;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.name_group_main {
    color: #804000;
}
.max_width {
    width: 100%;
}
.help_text {
    margin-left: 5px;
    color: #666;
    font-weight: 400;
    font-style: italic;
}
label.control_label {
    padding-top: 0;
    text-align: right;
    margin-bottom: 0;
}
.group_bloc {
    margin-bottom: 5px;
}
#choose_gather {
    background-color: #e8e7b7;
}
.lang_flag.disabled {
    background: rgba(0, 0, 0, 0.3);
    cursor: wait;
}
.sett_main {
    display: inline-block;
    margin: 5px;
    padding: 3px;
    text-align: center;
    vertical-align: middle;
}
#tab-attribute select.form-control {
    font-weight: normal;
    /*background-color: #faebd7;*/
}
#tab-attribute td {
    padding: 8px;
	position: relative;
}
/*======================*/
.jir {
    font-weight: 600;
    /*color: black;*/
}
.error_param {
    outline: 1px solid red;
}
.color_red {
    color: red !important;
}
.color_white {
    color: #fff !important;
}
.bg_blue {
    background-color: #AFEEEE !important;
}
.bg_add {
    background-color: #f0f8ff;
}
.zaglav {
    color: black;
    font-weight: 600;
    text-align: center;
}
.scrolis {
    max-height: 500px;
    overflow-x: auto;
}
#attribute_text .main_row ul, #block_filter ul.dropdown-menu, #choose_gather ul.dropdown-menu, .ui-autocomplete ul, .scrolis {scrollbar-width: thin; scrollbar-color: #cdcdcd #eee;}
.scrolis::-webkit-scrollbar{width:7px;}
.scrolis::-webkit-scrollbar-thumb{background-color: #cdcdcd;}
.scrolis::-webkit-scrollbar-thumb:hover{background-color: #aaa;}
.scrolis::-webkit-scrollbar-thumb:active{background-color: #999;}
.scrolis::-webkit-scrollbar-track{border-width:0;background-color: #eee;}
#block_filter ul.dropdown-menu::-webkit-scrollbar{width: 7px;}
#block_filter ul.dropdown-menu::-webkit-scrollbar-thumb{background-color: #cdcdcd;}
#block_filter ul.dropdown-menu::-webkit-scrollbar-thumb:hover{background-color: #aaa;}
#block_filter ul.dropdown-menu::-webkit-scrollbar-thumb:active{background-color: #999;}
#block_filter ul.dropdown-menu::-webkit-scrollbar-track{border-width:0;background: #eee;}
#attribute_text .main_row ul::-webkit-scrollbar{width: 7px;}
#attribute_text .main_row ul::-webkit-scrollbar-thumb{background-color: #cdcdcd;}
#attribute_text .main_row ul::-webkit-scrollbar-thumb:hover{background-color: #aaa;}
#attribute_text .main_row ul::-webkit-scrollbar-thumb:active{background-color: #999;}
#attribute_text .main_row ul::-webkit-scrollbar-track{border-width:0;background: #eee;}
#choose_gather ul.dropdown-menu::-webkit-scrollbar{width: 7px;}
#choose_gather ul.dropdown-menu::-webkit-scrollbar-thumb{background-color: #cdcdcd;}
#choose_gather ul.dropdown-menu::-webkit-scrollbar-thumb:hover{background-color: #aaa;}
#choose_gather ul.dropdown-menu::-webkit-scrollbar-thumb:active{background-color: #999;}
#choose_gather ul.dropdown-menu::-webkit-scrollbar-track{border-width:0;background: #eee;}
/*==================*/
.link {
    display: flex;
}
.clear_sort {
   /*padding: 5px 10px;*/
}
.pading_10 {
    padding: 10px;
}
.cls_hide {
    display: none;
}
.cls_hide_blok {
    display: none;
}
.bg_pole_grey {
    background-color: #dfdfdf !important;
}
#tb_view tr {
    border-bottom: 1px solid #666;
}
.edit_param .pole_red {
    border: 1px solid #999;
    border-radius: 3px;
}
.error_text {
    color: red;
    padding: 0px;
    display: inline-block;
    width: 100%;
    margin: 5px auto;
}
.error_text.alert {
    overflow: hidden;
}
.success_text {
    color: #8fbb6c;
    padding: 5px;
    font-weight: 600;
    text-align: center;
}
#info_text {
    height: 40px;
    overflow-x: auto;
    padding: 3px;
    background-color: #f0f0f0;
}
/*animal*/
#parent_blok {
    /*background-color: #000;*/
    background: rgba(0, 0, 0, 0.3);
    /*opacity: 0.3;*/
    height: 100%;
    position: fixed;
    /*position: absolute;*/
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    text-align: center;
}
#loader_img {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    z-index: 101;
    background: url("loader.gif") no-repeat;
}
#popup_save {
    display: none;
    position: fixed;
    left: 0%;
    top: 30%;
    width: 100%;
    height: 100%;
    z-index: 101;
}
#popup_save td {
    padding: 0;
}
.text_popup {
    padding: 50px 10px;
}
.pole_botton {
    background-color: #EEE;
    padding: 16px 10px;
}
.popup_blok {
    width: 305px;
    height: 200px;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #fff;
}
/* / animal*/
/*button*/
.button_submit {
    border: none;
    border-radius: 3px;
    padding: 6px 5px;
    cursor: pointer;
    display: inline-block;
    margin: 0 5px 2px auto;
}
.button_submit:hover {
    background: linear-gradient(bottom, #FFFFFF, #FFFFFF 0%, #EEEEEE 80%, #CCCCCC) repeat scroll 0% 0%;
    background: -moz-linear-linear-gradient(bottom, #FFFFFF, #FFFFFF 0%, #EEEEEE 80%, #CCCCCC) repeat scroll 0% 0%;
    background: -webkit-linear-gradient(bottom, #FFFFFF, #FFFFFF 0%, #EEEEEE 80%, #CCCCCC) repeat scroll 0% 0%;
    background: -o-linear-gradient(bottom, #FFFFFF, #FFFFFF 0%, #EEEEEE 80%, #CCCCCC) repeat scroll 0% 0%;
    background: -ms-linear-gradient(bottom, #FFFFFF, #FFFFFF 0%, #EEEEEE 80%, #CCCCCC) repeat scroll 0% 0%;
    background: -khtml-linear-gradient(bottom, #FFFFFF, #FFFFFF 0%, #EEEEEE 80%, #CCCCCC) repeat scroll 0% 0%;
    color: #666;
}
.bg_grey {
    background: #eee;
    background: linear-gradient(top, #FFFFFF, #FFFFFF 0%, #EEEEEE 80%, #CCCCCC) repeat scroll 0% 0%;
    background: -moz-linear-linear-gradient(top, #FFFFFF, #FFFFFF 0%, #EEEEEE 80%, #CCCCCC) repeat scroll 0% 0%;
    background: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF 0%, #EEEEEE 80%, #CCCCCC) repeat scroll 0% 0%;
    background: -o-linear-gradient(top, #FFFFFF, #FFFFFF 0%, #EEEEEE 80%, #CCCCCC) repeat scroll 0% 0%;
    background: -ms-linear-gradient(top, #FFFFFF, #FFFFFF 0%, #EEEEEE 80%, #CCCCCC) repeat scroll 0% 0%;
    background: -khtml-linear-gradient(top, #FFFFFF, #FFFFFF 0%, #EEEEEE 80%, #CCCCCC) repeat scroll 0% 0%;
   
}
.bg_green {
   background: #80EC1C;
   background: linear-gradient(top, #FFFFFF, #FFFFFF 0%, #80EC1C 80%, #CCCCCC) repeat scroll 0% 0%;
   background: -moz-linear-linear-gradient(top, #FFFFFF, #FFFFFF 0%, #80EC1C 80%, #CCCCCC) repeat scroll 0% 0%;
   background: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF 0%, #80EC1C 80%, #CCCCCC) repeat scroll 0% 0%;
   background: -o-linear-gradient(top, #FFFFFF, #FFFFFF 0%, #80EC1C 80%, #CCCCCC) repeat scroll 0% 0%;
   background: -ms-linear-gradient(top, #FFFFFF, #FFFFFF 0%, #80EC1C 80%, #CCCCCC) repeat scroll 0% 0%;
   background: -khtml-linear-gradient(top, #FFFFFF, #FFFFFF 0%, #80EC1C 80%, #CCCCCC) repeat scroll 0% 0%;
}
.bg_red {
   background-color: #ee5454;
   /*background: linear-gradient(top, #FFFFFF, #FFFFFF 0%, #E86161 100%, #B03737) repeat scroll 0% 0%;
   background: -moz-linear-linear-gradient(top, #FFFFFF, #FFFFFF 0%, #E86161 100%, #B03737) repeat scroll 0% 0%;
   background: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF 0%, #E86161 100%, #B03737) repeat scroll 0% 0%;
   background: -o-linear-gradient(top, #FFFFFF, #FFFFFF 0%, #E86161 100%, #B03737) repeat scroll 0% 0%;
   background: -ms-linear-gradient(top, #FFFFFF, #FFFFFF 0%, #E86161 100%, #B03737) repeat scroll 0% 0%;
   background: -khtml-linear-gradient(top, #FFFFFF, #FFFFFF 0%, #E86161 100%, #B03737) repeat scroll 0% 0%;*/
   color: #eaeaea;
}
/* / button*/
/*go_top*/
#go_top {
	border: 1px solid #ccc;
    background: rgba(0, 0, 0, 0.3);
	text-align: center;
	padding: 5px 7px;
	position: fixed;
	bottom: 20px;
	right: 1px;
	cursor: pointer;
	display: none;
	color: #fff;
	font-family: verdana;
	font-size: 11px;
    border-radius: 25%;
    font-weight: 800;
    z-index: 10;
}
/*modal_window*/
#modal_window {
    display: none;
    /*position: fixed;*/
    position: absolute;
    left: 0%;
    top: 20%;
    width: 100%;
    /*height: 100%;*/
    z-index: 101;
    margin: auto;
    padding: 10px;
}
#modal_window table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
#modal_window table td {
    border: none;
}
.modal_window {
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    max-width: 70%;
    min-width: 250px;
    padding: 5px;
}
.defolt_modal {
    padding: 10px;
    width: 100%;
}
.body_modal {
   margin-bottom: 20px;
   position: relative;
}
.foter_modal {
    background-color: #ccc;
    border-radius: 0 0 4px 4px;
    padding: 5px;
}
.close_modal {
    display: inline-block;
    color: #FFF;
    /*padding: 2px;*/
    /*border: 1px solid #fff;*/
    border-radius: 50%;
    /*width: 25px;
    height: 25px;*/
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    opacity: 0.8;
    /*margin: 5px;*/
}
.close_modal:hover {
    opacity: 1;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.close_modal .fa {
    vertical-align: middle;
    font-size: 20px;
    padding: 4px 6px;
    margin: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 50%;
}
/*user css*/
.head_modal {
    font-weight: 600;
    /*font-size: 15px;*/
}
#hiden_popup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 300;
    background-color: rgba(0, 0, 0, 0.3);
    /*background: url("loader.gif") no-repeat;*/
}
#attribute_text_add .body_value {
    background-color: #dbdbdb;
}
/*end modal_window*/
/*.sort_mod {width: 20%;}*/
.top_page {
    margin-top: 15px;
    margin-bottom: 15px;
}
.top_page .text-right, .bottom_page .text-right {
    margin-top: 10px;
}
.bottom_page {}
.blk_statist {}
/*.header_info {padding: 7px;}*/
.row > div {margin-bottom: 5px;}
/*
@media(max-width:600px) {
    .row > div {margin-bottom: 5px;}
}
*/
