:focus {
    outline: none !important;
}
.helpis:after {
    font-family: FontAwesome;
    color: #1E91CF;
    content: "\f059";
    margin: 0 2px;
    font-size: 12px;
    font-weight: bold;
    background: #fff;
    border-radius: 50%;
}
.div_panel {
    min-width: 350px;
 }
.div_form {
    /*background-color: #f2f5ff;*/
}
table td {
    height: 26px;
    padding: 5px;
	position: relative;
}
.help_text {
    display: inline-block;
    padding-left: 5px;
    font-style: italic;
    font-weight: 400;
}
select {
    font-weight: 400;
}
#input_status {
    width: 130px;
}
#block_gen {
    margin: 20px;
}
#block_dump {
    cursor: pointer;
    text-align: right;
}
#block_dump:hover {
    color: #05316a;
}
#block_dump_tabl {
    display: none;
}
#block_operac {
    display: inline-block;
    height: 650px;
    width: 100%;
}
#block_log {
    margin-top: 10px;
}
#block_log .alert {
    margin-bottom: 8px;
}
#logi_attribs_err {
    cursor: pointer;
    color: #3aa2e1;
    font-weight: 600;
}
#dump_tables td {
    border: 1px solid #ccc;
    padding: 5px;
    vertical-align: top;
}
#button_re_end .btn {
    margin-bottom: 4px;
}
#go_to_attrib {
    margin-bottom: 10px;
}
#go_to_attrib span {
    padding: 2px;
}
#go_to_attrib span:hover {
    color: #0058ff;
    border-bottom: 1px dotted;
}
.go_to_attrib {
    display: inline-block;
    margin: 5px;
}
.form-group {
    border: 1px solid #ccc;
    min-width: 300px;
    padding: 5px 5px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #C4E4FF;
}
.form-group:hover {
    background-color: #B7D6F0;
}
.form-group + .form-group, .name_group_main + .form-group {
  border-top: 1px solid #ededed;
}
.group_block {
    min-width: 300px;
    padding: 5px 0;
    margin: 5px 0;
}
#choose_gather {
    background-color: #e8e7b7;
}
#blok_gather {
    width: 16%;
}
#blok_add_new_gather {
    display: inline-block;
    margin: 0 5px;
}
.add_value {
    margin-bottom: 2px;
    cursor: pointer;
}
#count_result {
    display: inline-block;
    margin-right: 5px;
    /*color: #0058ff;*/
}
#count_result.color_link {
    cursor: pointer;
}
.color_link {
    color: #1e91cf;
}
#block_gen .color_link:hover {
    color: #1c7aac;
}
.sett_main {
    display: inline-block;
    /*margin: 5px auto;*/
    padding: 2px;
    text-align: center;
    /*vertical-align: middle;*/
}
.sett_main:not(:last-of-type) {
    margin-right: 5px;
    margin-bottom: 5px;
}
.sett_main_table:not(:last-of-type) {
    margin-bottom: 5px;
}
.sett_main input {
    /*height: auto !important;*/
    font-weight: 400;
}
.sett_main.checks {
    max-width: 260px;
    width: 100%;
}
.sett_main .control-label {
    display: inline;
    margin-right: 5px;
    float: none !important;
    width: 100%;
}
.sett_main .select_fv1 {
    max-width: 200px !important;
}
.set_poles {
    display: inline-block;
    /*margin: 1px 0 2px 2px;*/
}
/*
.set_poles:not(:last-of-type) {
    margin-right: 5px;
    margin-bottom: 5px;
}
*/
.name_group_main {
    /*margin: 0px 10px;*/
    color: #804000;
    font-size: 1.2em;
    padding-bottom: 5px;
    
}
.name_group_main span {
    /*border-bottom: 1px dotted #804000;*/
    font-weight: 600;
}
.block_check {
    padding: 5px 0 5px 15px;
    border: 1px solid #cccccc;
    background-color: #F9EFAA;
    margin: 5px 0;
}
.block_check a {
    cursor: pointer;
}
.inlin_blok {
    display: inline-block !important;
}
.css_hidden {
    display: none;
}
.blok_info:before {
    content: " ";
}
.blok_info {
    /*display: table-cell;
    vertical-align: middle;
    min-height: 42px;*/
}
.imt_input {
    overflow: auto;
}
/*gather*/
.imt_textarea {
    background-color: #F9F9F9;
    padding: 3px;
    border: 1px solid #CCC;
    overflow-x: hidden;
    overflow-y: auto;
    word-break: break-all;
    word-wrap: break-word;
    width: 100%;
    height: 110px;
}
#attribute_text .attrb ul {
    max-height: 260px;
    overflow-x: auto;
    overflow-y: auto;
    /*max-width: 560px;*/
}
#attribute_text .attrb {
    width: 50%;
}
#attribute_text_add .body_value {
    background-color: #dbdbdb;
}

#attribute_text .main_row ul, #choose_gather ul {
    max-width: inherit;
    overflow-x: hidden;
    overflow-y: auto;
    /*width: 100%;*/
}
#attribute_text .main_row:not(:last-child) ul, #choose_gather ul {
    max-height: 260px;
}
#attribute_text .main_row:last-child ul {
    max-height: 125px;
}

.name_group {
    padding: 3px 5px;
    display: inline-block;
    margin-bottom: 3px;
    opacity: 0.7;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
/* / gather*/
/*block_filter*/
/*, #block_filter select*/
#block_filter input {
    color: #000;
    font-weight: 600;
}
.clear_pole i, .clear_pole_main i {
    color: #ec6464;
}
.partner_block {
    position: relative;
	width: 2em;
}
.btn_clear_all {
    background-color: #ccc;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
/* / block_filter*/
input[type="checkbox"] {
    margin: 0 2px !important;
    top: 2px;
}
#content ul {
    /*padding: 0px;*/
    margin: 0px !important;
}
.group_attr {
    /*font-weight: bold;*/
    /*font-size: 1.1em;*/
    background: #DBDBDB;
    margin: 3px 0px;
    /*height: 28px;*/
    min-height: 22px;
    height: auto;
    padding: 2px;
}
.pole_attrb {
    height: 36px;
}
.pole_attrb:hover {
    background: #d3ebff;
}
.group_attr .control-label {
    padding-top: 0;
}
/*merging_attribute*/
#tab-merging_attribute .scrolis {
    max-height: 800px;
    height: 200px;
}
.row_block {
    margin-bottom: 2px;
}
.main_text {
    background-color: #ead2b3;
    padding: 1px 5px;
    margin-left: 5px;
    border-radius: 3px;
}
.main_text input {
    top: 3px;
}
#choice_merging_attribute input {
    vertical-align: sub;
    cursor: pointer;
}
#choice_merging_attribute label {
    cursor: pointer;
}
#choice_merging_attribute label:hover {
    color: #dd6363;
}
.choice:not(.choice_active) {
    display: none;
}
.choice.choice_active {
    display: block;
}
/* / merging_attribute*/
.clear {
    clear: both;
    border: none;
    margin: 0;
    padding: 0;
}
.blok_right {
    float: right;
    position: relative;
    top: 4px;
}
.ram_dot {
    border: 1px dotted;
    padding: 2px;
}
.ram_dash {
    border: 1px dashed;
    padding: 2px;
}
.info_param {
    cursor: pointer;
    margin-left: 3px;
}
.input_width_30 {
    width: 30px;
}
.input_width_40 {
    width: 40px;
}
.input_width_50 {
    width: 50px;
}
.input_width_100 {
    width: 100px;
}
.input_width_120 {
    width: 120px;
}
.input_width_130 {
    width: 130px;
}
.input_width_150 {
    width: 150px;
}
.input_width_200 {
    width: 200px;
}
.input_width_300 {
    width: 300px;
}
.max_width {
    width: 100%;
}
.width_90pr {
    width: 90%;
}
.width_80pr {
    width: 80%;
}
.width_70pr {
    width: 70%;
}
.width_50pr {
    width: 50%;
}
.width_30pr {
    width: 30%;
}
.width_25pr {
    width: 25%;
}
.width_20pr {
    width: 20%;
}
.width_300 {
    width: 300px !important;
}
#pole_key {
    width: 420px;
}
.pading_10 {
    padding: 10px;
}
.gran  {
    margin: 0 5px;
    border-left: 1px solid #fff;
    vertical-align: middle;
}
.gran_dotted  {
    border-left: 1px dotted;
}
.tbl_param td {
    padding: 2px;
    border-bottom: 1px dotted;
    /*width: 80%;*/
}
.tbl_param td.gran {
    text-align: center;
}
.button_submit {
    border: none;
    border-radius: 3px;
    padding: 6px 5px;
    cursor: pointer;
    display: inline-block;
    margin: 0 5px 2px auto;
}
.button_submit:hover {
    background: linear-gradient(bottom, #FFFFFF, #FFFFFF 0%, #EEEEEE 80%, #CCCCCC) repeat scroll 0% 0%;
    background: -moz-linear-linear-gradient(bottom, #FFFFFF, #FFFFFF 0%, #EEEEEE 80%, #CCCCCC) repeat scroll 0% 0%;
    background: -webkit-linear-gradient(bottom, #FFFFFF, #FFFFFF 0%, #EEEEEE 80%, #CCCCCC) repeat scroll 0% 0%;
    background: -o-linear-gradient(bottom, #FFFFFF, #FFFFFF 0%, #EEEEEE 80%, #CCCCCC) repeat scroll 0% 0%;
    background: -ms-linear-gradient(bottom, #FFFFFF, #FFFFFF 0%, #EEEEEE 80%, #CCCCCC) repeat scroll 0% 0%;
    background: -khtml-linear-gradient(bottom, #FFFFFF, #FFFFFF 0%, #EEEEEE 80%, #CCCCCC) repeat scroll 0% 0%;
}
.bg_grey {
    background: #eee;
    background: linear-gradient(top, #FFFFFF, #FFFFFF 0%, #EEEEEE 90%, #CCCCCC) repeat scroll 0% 0%;
    background: -moz-linear-linear-gradient(top, #FFFFFF, #FFFFFF 0%, #EEEEEE 90%, #CCCCCC) repeat scroll 0% 0%;
    background: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF 0%, #EEEEEE 90%, #CCCCCC) repeat scroll 0% 0%;
    background: -o-linear-gradient(top, #FFFFFF, #FFFFFF 0%, #EEEEEE 90%, #CCCCCC) repeat scroll 0% 0%;
    background: -ms-linear-gradient(top, #FFFFFF, #FFFFFF 0%, #EEEEEE 90%, #CCCCCC) repeat scroll 0% 0%;
    background: -khtml-linear-gradient(top, #FFFFFF, #FFFFFF 0%, #EEEEEE 90%, #CCCCCC) repeat scroll 0% 0%;
   
}
.bg_green {
   background: #81EC1C;
   background: linear-gradient(top, #FFFFFF, #FFFFFF 0%, #81EC1C 90%, #CCCCCC) repeat scroll 0% 0%;
   background: -moz-linear-linear-gradient(top, #FFFFFF, #FFFFFF 0%, #81EC1C 90%, #CCCCCC) repeat scroll 0% 0%;
   background: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF 0%, #81EC1C 90%, #CCCCCC) repeat scroll 0% 0%;
   background: -o-linear-gradient(top, #FFFFFF, #FFFFFF 0%, #81EC1C 90%, #CCCCCC) repeat scroll 0% 0%;
   background: -ms-linear-gradient(top, #FFFFFF, #FFFFFF 0%, #81EC1C 90%, #CCCCCC) repeat scroll 0% 0%;
   background: -khtml-linear-gradient(top, #FFFFFF, #FFFFFF 0%, #81EC1C 90%, #CCCCCC) repeat scroll 0% 0%;
   color: indianred;
}
.bg_red {
   background: #E86161;
   background: linear-gradient(top, #FFFFFF, #FFFFFF 0%, #E86161 90%, #CCCCCC) repeat scroll 0% 0%;
   background: -moz-linear-linear-gradient(top, #FFFFFF, #FFFFFF 0%, #E86161 90%, #CCCCCC) repeat scroll 0% 0%;
   background: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF 0%, #E86161 90%, #CCCCCC) repeat scroll 0% 0%;
   background: -o-linear-gradient(top, #FFFFFF, #FFFFFF 0%, #E86161 90%, #CCCCCC) repeat scroll 0% 0%;
   background: -ms-linear-gradient(top, #FFFFFF, #FFFFFF 0%, #E86161 90%, #CCCCCC) repeat scroll 0% 0%;
   background: -khtml-linear-gradient(top, #FFFFFF, #FFFFFF 0%, #E86161 90%, #CCCCCC) repeat scroll 0% 0%;
   color: #3035db;
}
.bg_yellow {
   background: #f3cc33;
   background: linear-gradient(top, #FFFFFF, #FFFFFF 0%, #f3cc33 90%, #CCCCCC) repeat scroll 0% 0%;
   background: -moz-linear-linear-gradient(top, #FFFFFF, #FFFFFF 0%, #f3cc33 90%, #CCCCCC) repeat scroll 0% 0%;
   background: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF 0%, #f3cc33 90%, #CCCCCC) repeat scroll 0% 0%;
   background: -o-linear-gradient(top, #FFFFFF, #FFFFFF 0%, #f3cc33 90%, #CCCCCC) repeat scroll 0% 0%;
   background: -ms-linear-gradient(top, #FFFFFF, #FFFFFF 0%, #f3cc33 90%, #CCCCCC) repeat scroll 0% 0%;
   background: -khtml-linear-gradient(top, #FFFFFF, #FFFFFF 0%, #f3cc33 90%, #CCCCCC) repeat scroll 0% 0%;
   color: indianred;
}
#content .btn-default {
    background-color: #e1e1e1;
}
.bg_brown {
    background: #f8ad8b;
}
.bg_add {
    background-color: #f0f8ff;
}
.bg_aliceblue {
    background-color: aliceblue;
}
label.control-label span::after {
    background: #fff;
    border: none;
    border-radius: 50%;
    font-size: 12px;
}
#tab-base label {
    margin-bottom: 0;
}
.jir {
    font-weight: 600;
    color: black;
}
.error_param {
    outline: 1px solid red;
}
.edit_param .pole_red {
    border: 1px solid #999;
    border-radius: 3px;
}
.error_text {
    color: red;
    padding: 0px;
    display: inline-block;
    width: 100%;
    margin: 5px auto;
}
.error_text.alert {
    overflow: hidden;
}
.success_text {
    color: #8fbb6c;
    padding: 5px;
    font-weight: 600;
    text-align: center;
}
#info_text {
    height: 40px;
    overflow-x: auto;
    padding: 3px;
    background-color: #f0f0f0;
}
.warning_border {
   outline: 1px solid #e66c0e; 
}
#result_procces .alert {
    margin-bottom: 0;
}
.fix_blok .alert {
    margin-bottom: 0;
}
.color_red {
    color: red;
}
.color_white {
    color: #fff;
}
.color_gray {
    color: #808080;
}
.color_blue {
    color: #AFEEEE;
}
.zaglav {
    color: #a26060;
    font-weight: 600;
    text-align: center;
    font-size: 15px;
}
.scrolis {
    max-height: 500px;
    overflow-x: auto;
}

#attribute_text .main_row ul, #block_filter ul.dropdown-menu, #choose_gather ul.dropdown-menu, .ui-autocomplete ul, .scrolis {scrollbar-width: thin; scrollbar-color: #cdcdcd #eee;}
.scrolis::-webkit-scrollbar{width:7px;}
.scrolis::-webkit-scrollbar-thumb{background-color: #cdcdcd;}
.scrolis::-webkit-scrollbar-thumb:hover{background-color: #aaa;}
.scrolis::-webkit-scrollbar-thumb:active{background-color: #999;}
.scrolis::-webkit-scrollbar-track{border-width:0;background-color: #eee;}
#block_filter ul.dropdown-menu::-webkit-scrollbar{width: 7px;}
#block_filter ul.dropdown-menu::-webkit-scrollbar-thumb{background-color: #cdcdcd;}
#block_filter ul.dropdown-menu::-webkit-scrollbar-thumb:hover{background-color: #aaa;}
#block_filter ul.dropdown-menu::-webkit-scrollbar-thumb:active{background-color: #999;}
#block_filter ul.dropdown-menu::-webkit-scrollbar-track{border-width:0;background: #eee;}
#attribute_text .main_row ul::-webkit-scrollbar{width: 7px;}
#attribute_text .main_row ul::-webkit-scrollbar-thumb{background-color: #cdcdcd;}
#attribute_text .main_row ul::-webkit-scrollbar-thumb:hover{background-color: #aaa;}
#attribute_text .main_row ul::-webkit-scrollbar-thumb:active{background-color: #999;}
#attribute_text .main_row ul::-webkit-scrollbar-track{border-width:0;background: #eee;}
#choose_gather ul.dropdown-menu::-webkit-scrollbar{width: 7px;}
#choose_gather ul.dropdown-menu::-webkit-scrollbar-thumb{background-color: #cdcdcd;}
#choose_gather ul.dropdown-menu::-webkit-scrollbar-thumb:hover{background-color: #aaa;}
#choose_gather ul.dropdown-menu::-webkit-scrollbar-thumb:active{background-color: #999;}
#choose_gather ul.dropdown-menu::-webkit-scrollbar-track{border-width:0;background: #eee;}


.div_form .dropdown-menu, .ui-autocomplete {
    max-height: 200px;
    overflow-x: hidden !important;
    overflow-y: auto !important;
}
/*pozishin*/
.text_left {
    text-align: left;
}
.text_right {
    text-align: right;
}
.text_center {
    text-align: center;
}
/**/
#block_filter .border_right_date:not(:last-of-type) {
    border-right: 1px solid aliceblue;
}
/*
#block_filter .border_right_date {
    padding-left: 10px;
    padding-right: 10px;
}
*/
#block_filter .date_pole {
    padding-left: 10px;
    padding-right: 10px;
}
.date_pole i {
    color: #5bb53b;
}
/*correct*/
.alert {
    overflow: inherit;
}
/*animal block*/
#parent_blok {
    /*background-color: #000;*/
    background: rgba(0, 0, 0, 0.3);
    /*opacity: 0.3;*/
    height: 100%;
    /*position: fixed;*/
    position: absolute;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    text-align: center;
}
#loader_img {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    z-index: 101;
    background: url("loader.gif") no-repeat;
}
#popup_save {
    display: none;
    position: fixed;
    left: 0%;
    top: 30%;
    width: 100%;
    height: 100%;
    z-index: 101;
}
.text_popup {
    padding: 50px 8px;
}
.pole_botton {
    background-color: #EEE;
    padding: 16px 10px;
}
.popup_blok {
    width: 305px;
    height: 200px;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #fff;
}
#modal_window {
    display: none;
    position: fixed;
    /*position: absolute;*/
    left: 0%;
    top: 10%;
    width: 100%;
    /*height: 100%;*/
    z-index: 101;
    margin: auto;
    padding: 10px;
}
#modal_window table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
#modal_window table td {
    border: none;
}
.modal_window {
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    max-width: 70%;
    min-width: 250px;
    padding: 5px;
}
.defolt_modal {
    padding: 10px;
    width: 100%;
}
.body_modal {
   margin-bottom: 20px;
   position: relative;
}
.foter_modal {
    background-color: #ccc;
    border-radius: 0 0 4px 4px;
    padding: 5px;
}
.close_modal {
    display: inline-block;
    color: #FFF;
    /*padding: 2px;*/
    /*border: 1px solid #fff;*/
    border-radius: 50%;
    /*width: 25px;
    height: 25px;*/
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    opacity: 0.8;
    /*margin: 5px;*/
}
.close_modal:hover {
    opacity: 1;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.close_modal .fa {
    vertical-align: middle;
    font-size: 20px;
    padding: 4px 6px;
    margin: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 50%;
}
/*user css*/
.head_modal {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 5px;
}
.modal_name_prod tr {
    border-bottom: 1px solid #ddd;
}
#modal_window .n_p {
    text-align: right;
    width: 1%;
}
#modal_window .id_prod {
    display: none;
}
#modal_window .name_prod {
    text-align: left;
}
.modal_name_log {
    
}
.modal_name_log .body_modal {
    text-align: left;
    padding: 10px;
    /*border: 1px solid #ccc;*/
}
/*label-warning*/
#scan_view_log:hover {
    background-color: #f38733;
}
#scan_view_log {
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 3px 3px 6px rgba(0,0,0,0.6);
}
/* / animal block*/
/*go_top*/
#go_top {
	border: 1px solid #ccc;
    background: rgba(0, 0, 0, 0.3);
	text-align: center;
	padding: 5px 7px;
	position: fixed;
	bottom: 20px;
	right: 10px;
	cursor: pointer;
	display: none;
	color: #fff;
	font-family: verdana;
	font-size: 11px;
    border-radius: 25%;
    font-weight: 800;
    z-index: 10;
}
.fix_blok {
    position: fixed;
    top: 45px;
    right: 11px;
    padding: 10px;
    background-color: #FFF;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 90;
}
.fix_blok:hover {
    background-color: #cbe6c9;
}
#ssuu {
    display: inline-block;
    float: right;
    vertical-align: middle;
    position: relative;
}
.curs_point {
    cursor: pointer;
}
.uprav {
    width: 1%;
    /*text-align: center;*/
}
.result_ssuu {
    color: #0E930E;
    font-weight: 600;
}
.result_err {
    color: #FF0000;
    font-weight: 600;
}
/*avtor_bloc*/
.avtor_bloc {
    margin: 5px 0 5px 15px;
    font-size: 14px;
}
.partner {
    margin: 5px;
    padding: 5px;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 5px;
    opacity: 0.8;
    background-color: #999999;
}
.partner:hover {
    opacity: 1;
}
.partner a {
    color: #ffffff;
}
.liveoc {
    background-color: #58ae43;
}
.shopoc {
    background-color: #41769b;
}
.forumoc {
    background-color: #375476;
}
.prodelo {
    background-color: #008b8b;
}
/* / avtor_bloc*/