var languages = {};
{% for language in languages %} 
	languages[{{ language['language_id'] }}] = '{{ language['direction'] }}';
{% endfor %} 
$('div[id^=language]').not('.htabs').each(function(){
	var id = $(this).attr("id").replace('language','');
	if (id != '{{ first_id }}') {
		$(this).prepend('<div class="pull-right"><button type="button" onclick="yaTraslit(\'{{ first_id }}\', \'' +id + '\')" data-toggle="tooltip" title="translate Content" class="translate-content btn btn-warning"><i class="fa fa-flag-o"></i> ' + languages[id] + '</button></div><div class="clearfix"></div>');
	}
});

function yaTraslit(from,to) {
	var language_main = $('div[id^=language]').not('.htabs').attr('id').replace('language','');
	var name, name_original, code, val, name_tag, element_from;
	
	var parameters = {};
	parameters.text = {};

	var language_id = $('#languages a.selected').attr('href').replace('#language','');
	var fields = $("#language" + language_id).find("input[name],textarea[name]");
	fields.each(function() {
		element_from = $(this);
		name = element_from.attr('name');
		name_original = name.replace('['+language_id+']','['+ language_main + ']');
		if (this.nodeName == 'INPUT') {
			val = element_from.val();
			if (!$('<div>'+val+'</div>').text().replace(/\s/g,'')) {
				val = $('[name=' + name_original.replace(/\[/g,'\\[').replace(/\]/g,'\\]') + ']').val();
			}
		} else {
			if (typeof CKEDITOR !== 'undefined' && typeof CKEDITOR.instances[element_from.attr('id')] !== 'undefined') {
				val = CKEDITOR.instances[element_from.attr('id')].getData();
				if (!$('<div>'+val+'</div>').text().replace(/\s/g,'')) {
					val = CKEDITOR.instances[element_from.attr('id').replace(language_id,language_main)].getData();
				}
			} else if (typeof element_from.summernote === "function" && element_from.siblings('.note-editor').length) {
				val = element_from.code();
				if (!$('<div>'+val+'</div>').text().replace(/\s/g,'')) {
					val = $('[name=' + name_original.replace(/\[/g,'\\[').replace(/\]/g,'\\]') + ']').code();
				}
			} else if (typeof tinyMCE === 'object' && tinyMCE.get(element_from.attr('id')) !== null) {
				val = tinyMCE.get(element_from.attr('id')).getContent();
				if (!$('<div>'+val+'</div>').text().replace(/\s/g,'')) {
					val =  tinyMCE.get(element_from.attr('id').replace(language_id,language_main)).getContent();
				}

			} else {
				val = element_from.val();
				if (!$('<div>'+val+'</div>').text().replace(/\s/g,'')) {
					val = $('[name=' + name_original.replace(/\[/g,'\\[').replace(/\]/g,'\\]') + ']').val();
				}
			}
		}
		
		parameters[encodeURIComponent(name)] = val;
	});
	var user_token = getURLVar('user_token');
	$.ajax({
		url: 'index.php?route=module/ya_translate/translate&user_token=' + user_token + '&from=' + from + '&to=' + language_id,
		method: 'post',
		data: parameters,
		data_type: 'json',
		success: function(json) {
			if (json['success']) {
				for(var name_tag in json['text']) {
					var new_val = decodeHtml(json['text'][name_tag]);
					var element_to = $('#language' + to + ' [name=' + decodeURIComponent(name_tag).replace(/\[/g,'\\[').replace(/\]/g,'\\]') + ']');
					if (element_to[0].nodeName == 'INPUT') {
						element_to.val(new_val);
					} else {
						if (typeof CKEDITOR !== 'undefined' && typeof CKEDITOR.instances[element_to.attr('id')] !== 'undefined') {
							CKEDITOR.instances[element_to.attr('id')].setData(new_val);
						} else if (typeof element_to.summernote === "function" && element_to.siblings('.note-editor').length) {
							element_to.code(new_val);
						} else if (typeof tinyMCE === 'object' && tinyMCE.get(element_to.attr('id'))  !== null ) {
							tinyMCE.get(element_to.attr('id')).setContent(new_val);
						} else {
							element_to.val(new_val);
						}
					}
				}
				$('#confirm-translate').modal().show();
			}
		}
	});
}

function decodeHtml(html) {
    let areaElement = document.createElement("textarea");
    areaElement.innerHTML = html;

    return areaElement.value;
}