<div class="content-block mt-3">
	{% if heading_title %}
		<div class="content-block-title with-border-bottom fw-500 dark-text fsz-20 pb-3 mb-3">
			{{ heading_title }}
		</div>
	{% endif %}
	<div class="content-block-text secondary-text fw-300">
		{{ html }}
	</div>
</div>
