/*mobile_style*/
.fv-head_name_filter {
    box-shadow: 0px 6px 6px 2px rgba(234, 234, 234, 0.8);
}
.fv-container {
    overflow-x: hidden;
    overflow-y: auto;
}
.fv-head {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 101;
    background-color: inherit;
    padding-bottom: 7px;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    margin-bottom: 0;
}
.fv-ajax_block {
    width: 100%;
}
.fv-ajax_mobile .fv-ajax_block {
    display: block;
}
/*head_mobile_close*/
.fv-head_mobile_close {
    display: block;
}
.fv-mobile_close_box {
    display:-ms-flexbox;
    display: inline-flex;
    align-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.fv-mobile_close_box {
    opacity: 0.8;
}
.fv-mobile_close_box:hover {
    opacity: 1;
}
.fv-head_mobile_box {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 4px 10px;
}
.fv-gotop_filter {
    display: inline-block;
    padding: 0px 10px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.4);
    cursor: pointer;
    border-radius: 4px;
}
.fv-gotop_filter:hover {
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.6);
}
.fv-gotop_filter:before {
    content: "^"; 
    display: inline-block; 
    vertical-align: bottom;
    margin: -2px;
}
.fv-mobile-right .fv-mobile_close_box {
    order: -1;
}
.fv-animal_box:before {
    left: 0;
    margin-right: -1em;
}
#fv_module:not(.fv-mobile-right) .fv-head_mobile_close {
    text-align: right;
}
.fv-mobile-right .fv-head_mobile_close {
    text-align: left;
}
.fv-mobile-right .fv-mobile_close_box > :first-child {
    order: 3;
}
.fv-mobile_close_box .fv-icon {
    display: contents;
}
.fv-mobile_close_box .fv-icon_close {
    position: relative;
}
.fv-mobile-right .fv-mobile_close_box .fv-icon_close:before {
    left: 2px;
}
/*end head_mobile_close*/
.fv-layout-top .fv-choices {
    order: inherit;
}
/*end mobile_style*/