/*checkbox_checked*/
.fv-item_label.fv-item_action .fv-checkbox:after{/*galka*/ content: ""; display: inline-block; position: absolute; border-bottom: 1px solid; border-right: 1px solid; transform-origin: center bottom; transform: rotateZ(37deg) scale(1.2,1.7); margin: auto; left: 0.3em; width: 0.5em; height: 0.8em;}
/*end checkbox_checked*/