<div class="fv-block_search">
    <div class="fv-input_group"><div class="fv-input_group_control"><input class="form-control" type="text" autocomplete="off" placeholder="{{ search_placeholder }}" /></div><div class="fv-input_group_after fv-clear_pole"><span class="fv-input_group_btn" title="{{ legend_clears }}"><span class="fv-icon fv-icon_times"></span></span></div></div>
</div>