<div class="fv-items_title">
    <div class="fv-items_head">
        <span class="fv-items_name">{{ text_title }}</span>
        <span class="fv-icon fv-icon_items">{{ html_icon_items }}</span>
        <span class="fv-icon fv-icon_items_action fv_clear_filter" title="{{ legend_clears }}"><span class="fv-icon_close"></span></span>
    </div>
</div>